/* Style-Slider-Header */
.header-section{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11111;
}
.header-top{
    transition: 1s;
    top: -100%;
    background-color: transparent;
}
.header-top.scroll-fix{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 11111;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 2px 4px 8px rgb(33 40 50 / 15%);
    box-shadow: 2px 4px 8px rgb(33 40 50 / 15%);
}
.header-top.scroll-fix .main-header{
    border: 0;
    background-color: #fff;
    margin: 0 auto;
}
.header-section .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border:1px solid rgba(48,146,85,0.25);
    border-radius: 10px;
}
.main-menu{
    position: relative;
}
.main-menu ul li{
    position: relative;
    display: inline-block;
    padding:10px;
}
.main-menu .item-main-menu{
    font-size: 17px;
    font-weight: 500;
    color: #333;
}
.main-menu .item-main-menu:hover{
    color: #267544;
}
.main-menu .sub-main-menu{
    position: absolute;
    top: 20px;
    left: -17px;
    z-index: 111;
    max-width: 300px;
    min-width: 200px;
    background-color: #fff;
    border-top: 2px solid #267544;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}
.main-menu ul li:hover .sub-main-menu{
    top: 50px;
    opacity: 1;
    visibility: visible
}
.main-menu .sub-main-menu .list-sub-menu li{
    display: block;
}
.main-menu .sub-main-menu .item-sub-menu{
    font-size: 14px;
    font-weight: 400;
}
.header-login a{
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
}
.header-login .link-register-header{
    display: inline-block;
   padding: 10px 40px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #267544;
    border-radius: 8px;
    line-height: 2;
}
/* style profile user */
.profile-user{
    display: inline-block;
    background-color: #309255;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-size: 14px !important;
    border: 0;
    padding: 10px;
}
.profile-user:hover{
    color: #fff;
}
.box-user-profile{
    position: absolute;
    top: 63px;
    right: 80px;
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 30px 0 rgb(33 40 50 / 18%);
    box-shadow: 0 10px 30px 0 rgb(33 40 50 / 18%);
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.profile-user:hover .box-user-profile{
    top: 73px;
    opacity: 1;
    visibility: visible;
}
.box-user-profile ul li{
    padding: 10px !important;
    border-bottom: 1px solid #deede4;
}
.box-user-profile ul li:last-child{
    border: 0;
}
.box-user-profile ul li a{
    display: block;
    font-size: 13px !important;
    padding: 0;
}
.box-user-profile ul li a:hover{
    color: #000;
}
@media only screen and (max-width: 768px)  {
    .header-section .main-header{
        position: relative;
        display: block;
        margin: 10px 20px;
        padding: 10px;
    }
    .main-logo img{
        width: 140px;
    }
    .nav-toggle .menu-toggle{
        position: absolute;
        height: 44px;
        top: 5px;
        right: 10px;
        z-index: 1001;
        width: 22px;
    }
    .menu-toggle::after, .menu-toggle::before{
        content: '';
        display: block;
        width: 22px;
        height: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: .5px solid #000;
        transition: .25s all;
    }
    .menu-toggle .middle-line {
        display: block;
        width: 22px;
        height: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: .5px solid #000;
        transition: .25s all;
    }
    .menu-toggle.expand {
        position: absolute;
        right: 40px;
        top: 20px;
        z-index: 111;
    }
    .menu-toggle.expand .middle-line{
        opacity: 0;
    }
    .menu-toggle::before {
        transform: translateY(-7px);
    }
    .menu-toggle::after {
        transform: translateY(7px);
    }
    .menu-toggle.expand::before {
        transform: translateY(0) rotate(-45deg);
    }
    .menu-toggle.expand::after {
        transform: translateY(0) rotate(45deg);
    }
.overlay{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 111;
    background-color: rgb(62 62 62 / 37%);
    opacity: 0;
    visibility: hidden;
}
.overlay.show-up{
    opacity: 1;
    visibility: visible;
}
    .main-menu{
        position: fixed;
        right: 0;
        left: -90%;
        background-color: #fff;
        top: 0;
        bottom: 0;
        z-index: 1111;
        width: 90%;
        padding: 20px 0;
        transition: 0.5s;
    }
    .main-menu.show-up{
        left: 0%;
    }
    .main-menu ul li{
        display: block;
        border-bottom: 1px solid #e1e1e1;
        padding: 0;
    }
    .main-menu .item-main-menu{
        padding: 10px;
        display: block;
    }
    .main-menu ul li:last-child{
        border: 0;
    }
    .main-menu .item-main-menu{
        font-size: 14px;
    }
    .main-menu .sub-main-menu{
        position: unset;
        opacity: 1;
        visibility: visible;
        border: 0;
        max-width: 100%;
        display: none;
    }
    .main-menu .sub-main-menu.show{
        display: block;
    }
    .main-menu .sub-main-menu .item-sub-menu{
        padding: 10px;
        display: block;
    }
    .item-main-menu .icon-plus{
        position: absolute;
        right: 40px;
        top: 20px;
        z-index: 1;
        transition: 0.5s;
    }
    .item-main-menu .icon-plus::before , .item-main-menu .icon-plus::after{
        width: 16px;
        border-color: #686868;
    }
    .item-main-menu.show-sub .icon-plus::after{
        display: none;
    }
    .box-login-register-mob{
        text-align: center;
        margin: 40px 0;
    }
    .box-login-register-mob a{
        padding: 0 10px;
        line-height: 3;
        background-color: #fff;
        border: 1px solid #267544;
        border-radius: 5px;
        display: inline-block;
        width: 100px;
        margin: 0 5px;
        font-weight: 500;
        font-size: 16px;
    }
    .box-user-profile{
        width: 100%;
        box-shadow: unset;
    }
}