<main>
    <div class="main-banner">
        <div class="box-image-banner">
            <div class="shape-1">
                <img class="animation-round" src="./assets/image/shape-1.png" alt="shape" title="shape-1">
            </div>
            <div class="shape-2">
                <img src="./assets/image/shape-2.png" alt="shape" title="shape-2">
            </div>
            <div class="shape-3">
                <img src="./assets/image/shape-3.png" alt="shape" title="shape-3">
            </div>
            <div class="shape-4">
                <img src="./assets/image/shape-24.png" alt="shape" title="shape-4">
            </div>
            <div class="shape-5 hidden-xs">
                <img class="animation-left" src="./assets/image/shape-5.png" alt="shape" title="shape-5">
            </div>
        </div>
        <div class="container">
            <div class="content-main-banner">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Courses</li>
                    </ol>
                  </nav>
                  <div class="title-page">
                      <h2>
                        My
                        <span>
                            Courses
                        </span>
                      </h2>
                  </div>
            </div>
        </div>
      </div>
      <div class="devider-30"></div>
      <div class="container">
        <div class="courses-category">
            <div class="list-category-course">
                <a class="active" href="javascript://">AllCourse</a>
                <a href="javascript://">Collections</a>
                <a href="javascript://">Wishlist</a>
                <a href="javascript://">Archived</a> 
            </div>
            <div class="card-search-box">
                <form action="#">
                    <input type="text" placeholder="Search youre course">
                    <button class="btn-search-course" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="devider-30"></div>
        <div class="course-list">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="item-single-course">
                        <div class="course-img">
                            <a href="javascrpt://">
                                <img src="./assets/image/courses-01.png" alt="">
                            </a>
                        </div>
                        <div class="detailse-course">
                            <h3>Culture & Leadership: Strategies for a Successful Business</h3>
                            <div class="course-info">
                                <span>
                                    <i class="fa fa-clock"></i>
                                    08 hr 15 mins
                                </span>
                                <span>
                                    <i class="fas fa-book-open"></i>
                                    29 Lectures
                                </span>
                            </div>
                            <div class="courses-rating">
                                <p>38% Complete</p>
                                <div class="rating-progress-bar">
                                    <div class="rating-line" style="width: 38%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="item-single-course">
                        <div class="course-img">
                            <a href="javascrpt://">
                                <img src="./assets/image/courses-03.png" alt="">
                            </a>
                        </div>
                        <div class="detailse-course">
                            <h3>
                                <a href="javascript://">
                                    Culture & Leadership: Strategies for a Successful Business
                                </a>
                            </h3>
                            <div class="course-info">
                                <span>
                                    <i class="fa fa-clock"></i>
                                    08 hr 15 mins
                                </span>
                                <span>
                                    <i class="fas fa-book-open"></i>
                                    29 Lectures
                                </span>
                            </div>
                            <div class="courses-rating">
                                <p>88% Complete</p>
                                <div class="rating-progress-bar">
                                    <div class="rating-line" style="width: 80%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="item-single-course">
                        <div class="course-img">
                            <a href="javascrpt://">
                                <img src="./assets/image/courses-05.png" alt="">
                            </a>
                        </div>
                        <div class="detailse-course">
                            <h3>
                                <a href="javascript://">
                                    Culture & Leadership: Strategies for a Successful Business
                                </a>
                            </h3>
                            <div class="course-info">
                                <span>
                                    <i class="fa fa-clock"></i>
                                    08 hr 15 mins
                                </span>
                                <span>
                                    <i class="fas fa-book-open"></i>
                                    29 Lectures
                                </span>
                            </div>
                            <div class="courses-rating">
                                <p>55% Complete</p>
                                <div class="rating-progress-bar">
                                    <div class="rating-line" style="width: 55%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="item-single-course">
                        <div class="course-img">
                            <a href="javascrpt://">
                                <img src="./assets/image/courses-06.png" alt="">
                            </a>
                        </div>
                        <div class="detailse-course">
                            <h3>
                                <a href="javascript://">
                                    Culture & Leadership: Strategies for a Successful Business
                                </a>
                            </h3>
                            <div class="course-info">
                                <span>
                                    <i class="fa fa-clock"></i>
                                    08 hr 15 mins
                                </span>
                                <span>
                                    <i class="fas fa-book-open"></i>
                                    29 Lectures
                                </span>
                            </div>
                            <div class="courses-rating">
                                <p>20% Complete</p>
                                <div class="rating-progress-bar">
                                    <div class="rating-line" style="width: 20%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="item-single-course">
                        <div class="course-img">
                            <a href="javascrpt://">
                                <img src="./assets/image/courses-02.png" alt="">
                            </a>
                        </div>
                        <div class="detailse-course">
                            <h3>
                                <a href="javascript://">
                                    Culture & Leadership: Strategies for a Successful Business
                                </a>
                            </h3>
                            <div class="course-info">
                                <span>
                                    <i class="fa fa-clock"></i>
                                    08 hr 15 mins
                                </span>
                                <span>
                                    <i class="fas fa-book-open"></i>
                                    29 Lectures
                                </span>
                            </div>
                            <div class="courses-rating">
                                <p>100% Complete</p>
                                <div class="rating-progress-bar">
                                    <div class="rating-line" style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</main>
