<main>
    <div class="main-banner all-course-page">
        <div class="box-image-banner">
            <div class="shape-1">
                <img class="animation-round" src="./assets/image/shape-1.png" alt="shape" title="shape-1">
            </div>
            <div class="shape-2">
                <img src="./assets/image/shape-2.png" alt="shape" title="shape-2">
            </div>
            <div class="shape-5 hidden-xs">
                <img class="animation-left" src="./assets/image/shape-5.png" alt="shape" title="shape-5">
            </div>
        </div>
        <div class="container">
            <div class="content-main-banner slider-content">
                <div class="sub-title">
                    <span>Start your favourite course</span>
                </div>
                  <div class="title-page">
                      <h2>
                        Now learning from anywhere, and build your
                        <span>
                            bright career.
                        </span>
                      </h2>
                  </div>
                  <p>It has survived not only five centuries but also the leap into electronic typesetting.</p>
                  <button class="btn btn-primary btn-start-cousre" type="button">Start at course</button>
            </div>
        </div>
        <div class="slider-img-course">
            <img src="./assets/image/slider-1.png" alt="shape" title="shape-3">
        </div>
        <div class="slider-courses-box">
            <div class="box-content">
                <div class="box-wrapper">
                    <i class="fas fa-book-open"></i>
                    <span class="count">1,235</span>
                    <p>courses</p>
                </div>
            </div>
            <img class="shape-1" src="./assets/image/shape-6.png" alt="Shape">
        </div>
    </div>
    <div class="devider-50"></div>
    <div class="main-content">
        <div class="container">
            <div class="content-all-course">
                <div class="box-search-course-home-page">
                    <div class="title-page">
                        <h2>
                          All
                          <span>
                             Courses
                          </span>
                        </h2>
                    </div>
                    <div class="card-search-box">
                        <form action="#">
                            <input type="text" placeholder="Search youre course">
                            <button class="btn-search-course" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="devider-30"></div>
                <div class="container-slider-courses course-tab">
                    <div class="list-slider-courses">
                        <div class="item-slider-course">
                            <button type="button">UI/UX Design</button>
                        </div>
                        <div class="item-slider-course">
                            <button type="button">Development</button>
                        </div>
                        <div class="item-slider-course">
                            <button type="button">Business</button>
                        </div>
                        <div class="item-slider-course">
                            <button type="button">Financial</button>
                        </div>
                        <div class="item-slider-course">
                            <button type="button">Marketing</button>
                        </div>
                        <div class="item-slider-course">
                            <button type="button">Design</button>
                        </div>
                        <div class="item-slider-course">
                            <button type="button">UI/UX Design</button>
                        </div>
                        <div class="item-slider-course">
                            <button type="button">Development</button>
                        </div>
                    </div>
                </div>
                <div class="devider-30"></div>
                <div class="body-course-tab">
                    <div class="tab-pane fade show" id="tab1">
                        <div class="course-list">
                            <app-courses [courseListInput]="courses"></app-courses>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
