<div class="item-single-course">
    <div class="course-img">
        <a href="javascrpt://">
            <img src="./assets/image/courses-01.png" alt="">
        </a>
    </div>
    <div class="detailse-course">
        <h3>
            <a href="javascript://">
                Culture & Leadership: Strategies for a Successful Business
            </a>
        </h3>
        <div class="course-info">
            <span>
                <i class="fa fa-times"></i>
                08 hr 15 mins
            </span>
            <span>
                <i class="fas fa-book-open"></i>
                29 Lectures
            </span>
        </div>
        <div class="course-price">
            <span class="new-price">$295.00</span>
            <span class="old-price">
                <del> $340.00</del>
            </span>
        </div>
    </div>
</div>
