<header class="header-section">
    <div class="header-top">
        <div class="main-header">
            <div class="main-logo">
                <a href="javascript://">
                    <img src="./assets/image/logo.png" alt="mainLogo">
                </a>
            </div>
            <div class="overlay visible-xs"></div>
            <div class="main-menu">
                <div class="close-main-menu visible-xs">
                    <a class="menu-toggle expand" href="#"></a>
                </div>
                <div *ngIf="!submitted" class="box-login-register-mob visible-xs" >
                    <a class="sign-in" href="javascript://">Sing In</a>
                    <a class="sing-up" href="register">Sing Up</a>
                </div>
                
                <ul class="list-main-menu">
                    <li *ngIf="!submitted" class="item-profile-mob visible-xs">
                        <a class="item-main-menu" href="javascript://">
                            <i class="fa fa-user"></i>
                            {{this.userName}}
                        </a>
                        <div class="box-user-profile sub-main-menu">
                            <ul>
                                <li>
                                    <a href="javacsript://">
                                        <i class="fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a (click)="logOut()" href="javacsript://">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Sing Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="item-main-menu" href="/">Home</a>
                    </li>
                    <li>
                        <a class="item-main-menu" (click)="navigate()" href="javascript://">My Courses</a>
                    </li>
                    <li>
                        <a class="item-main-menu" href="javascript://">
                            <span class="icon-plus visible-xs"></span>
                            Pages
                        </a>
                        <div class="sub-main-menu">
                            <ul class="list-sub-menu">
                                <li>
                                    <a class="item-sub-menu" href="javascript://">About</a>
                                </li>
                                <li>
                                    <a class="item-sub-menu" href="register">Register</a>
                                </li>
                                <li>
                                    <a class="item-sub-menu" href="javascript://">Login</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="item-main-menu" href="javascript://">Blog</a>
                    </li>
                    <li>
                        <a class="item-main-menu" href="javascript://">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="nav-toggle visible-xs">
                <a href="javascript://" class="menu-toggle" (click)="menuToggle()">
                    <span class="middle-line"></span>
                </a>
            </div>
            <div *ngIf="!submitted" class="header-login hidden-xs">
                <a class="link-login-header" href="javascript://">Sign In</a>
                <a class="link-register-header" href="register">Sign Up</a>
            </div>
            <div *ngIf="submitted" class="header-login hidden-xs">
                <button class="profile-user" type="button">
                    <i class="fa fa-user"></i>
                    {{this.userName}}
                    <div class="box-user-profile">
                        <ul>
                            <li>
                                <a href="javacsript://">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="javacsript://" (click)="logOut()">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Sing Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </button>
            </div>
        </div>
    </div>
</header>
