
.content-footer {
	position: relative;
	margin-top: 50px;
	background-color: #343b56;
	padding: 50px;
	z-index: 1;
	color: #fff;
	.shape1-footer {
		position: absolute;
		top: 10px;
		left: 50px;
		z-index: -1;
	}
	.shape2-footer {
		position: absolute;
		bottom: 70px;
		right: 50px;
		z-index: -1;
	}
	.footer-logo {
		margin-bottom: 10px;
	}
	.item-body-fooetr {
		.list-item-footer {
			li {
				padding: 10px 0;
				font-size: 14px;
				a {
					color: #fff;
					transition: 0.3s;
					&:hover {
						color: #309255;
					}
				}
			}
		}
	}
	.address-footer {
		.address-item-footer {
			i {
				color: #267544;
				font-size: 20px;
				padding-right: 10px;
			}
		}
	}
	.socail-item-footer {
		i {
			color: #fff;
			padding: 0 10px;
			font-size: 20px;
			&:hover {
				color: #309255;
			}
		}
	}
	.form-subscribe-footer {
		input {
			width: 100%;
			background-color: #fff;
			border: 1px solid #e7f8ee;
			color: #aaa;
			line-height: 2;
			padding: 10px;
			border-radius: 10px;
		}
		.btn-subscribe-footer {
			color: #fff;
			margin: 10px 0;
			line-height: 2.5;
		}
	}
}


@media only screen and (max-width: 768px){
    .body-form-register {
        .title-regisetr {
            h3 {
                span {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    .content-footer {
        margin-top: 0;
        padding: 20px 15px;
        .item-body-fooetr {
            .list-item-footer {
                li {
                    font-size: 13px;
                }
            }
        }
        .shape1-footer {
            width: 60px;
        }
        .shape2-footer {
            bottom: 90px;
            right: 0px;
            width: 90px;
        }
    }
    .item-body-fooetr {
        text-align: center;
        font-size: 13px;
        margin-top: 15px;
    }
    
}