<footer>
    <div class="content-footer">
        <!-- <div class="shape1-footer">
            <img class="animation-down" src="./assets/image/shape-1.png" alt="shape">
        </div> -->
        <div class="shape2-footer">
            <img class="animation-left" src="./assets/image/shape-22.png" alt="shape">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="item-body-fooetr address-footer">
                        <div class="main-logo footer">
                            <a href="javascript://">
                                <h3>L<span class="color-logo">O</span>G<span class="color-logo">O</span></h3>
                            </a>
                        </div>
                        <h4 class="footer-title">Caribbean Ct</h4>
                        <ul class="list-item-footer">
                            <li class="item-footer address-item-footer">
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:address@gmail.com">address@gmail.com</a>
                            </li>
                            <li class="item-footer address-item-footer">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:9702621413">(970) 262-1413</a>
                            </li>
                            <li class="item-footer socail-item-footer">
                                <a href="javascript://">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="javascript://">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="javascript://">
                                    <i class="fab fa-skype"></i>
                                </a>
                                <a href="javascript://">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="item-body-fooetr">
                        <h4 class="footer-title">Category</h4>
                        <ul class="list-item-footer">
                            <li class="item-footer">
                                <a href="javascript://">Creative Writing</a>
                            </li>
                            <li class="item-footer">
                                <a href="javascript://">Film & Video</a>
                            </li>
                            <li class="item-footer">
                                <a href="javascript://">Graphic Design</a>
                            </li>
                            <li class="item-footer">
                                <a href="javascript://">UI/UX Design</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="item-body-fooetr">
                        <h4 class="footer-title">Quick Links</h4>
                        <ul class="list-item-footer">
                            <li class="item-footer">
                                <a href="javacsript://">Privacy Policy</a>
                            </li>
                            <li class="item-footer">
                                <a href="javacsript://">Discussion</a>
                            </li>
                            <li class="item-footer">
                                <a href="javacsript://">Terms & Conditions</a>
                            </li>
                            <li class="item-footer">
                                <a href="javacsript://">Customer Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="item-body-fooetr">
                        <h4 class="footer-title">Subscribe</h4>
                        <ul class="list-item-footer">
                            <li class="item-footer">
                               <p class="paraph-subscribe">Lorem Ipsum has been them an industry printer took a galley make book.</p>
                            </li>
                            <li class="item-footer">
                                <div class="form-subscribe-footer">
                                    <form action="#">
                                        <input type="email" placeholder="Email here">
                                        <button class="btn-subscribe-footer btn btn-primary">Subscribe now</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
