<main>
  <div class="main-banner">
    <div class="box-image-banner">
        <!-- <div class="shape-1">
            <img class="animation-round" src="./assets/image/shape-1.png" alt="shape" title="shape-1">
        </div>
        <div class="shape-2">
            <img src="./assets/image/shape-2.png" alt="shape" title="shape-2">
        </div> -->
        <div class="shape-3">
            <img src="./assets/image/shape-3.png" alt="shape" title="shape-3">
        </div>
        <div class="shape-4">
            <img src="./assets/image/shape-24.png" alt="shape" title="shape-4">
        </div>
        <div class="shape-5 hidden-xs">
            <img class="animation-left" src="./assets/image/shape-5.png" alt="shape" title="shape-5">
        </div>
    </div>
    <div class="container">
        <div class="content-main-banner">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Register</li>
                </ol>
              </nav>
              <div class="title-page">
                  <h2>
                    Registration 
                    <span>
                        Form
                    </span>
                  </h2>
              </div>
        </div>
    </div>
  </div>
  <div class="devider-50 hidden-xs"></div>
  <div class="main-content">
      <div class="container">
          <div class="content-register-form">
              <div class="register-image hidden-xs">
                  <div class="shape-register">
                      <img src="./assets/image/shape-26.png" alt="shape">
                  </div>
                  <img class="img-register-login" src="./assets/image/register-login.png" alt="register-login">
              </div>
              <div class="body-form-register">
                  <div class="title-page hidden-xs">
                      <h3>
                          Registration
                          <span>Now</span>
                      </h3>
                  </div>
                  <div class="form-register">
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                        <div class="item-form">
                            <input type="text" placeholder="FirstName" formControlName="firstName" />
                            <div  class="invalid-feedback" *ngIf="!signupForm.get('firstName')?.valid && signupForm.get('firstName')?.touched">
                                Please choose a First name.
                              </div>
                        </div>
                        <div class="item-form">
                            <input type="text" placeholder="LastName" formControlName="LastName" />
                            <div id="inputLnameFeedback" class="invalid-feedback" *ngIf="!signupForm.get('LastName')?.valid && signupForm.get('LastName')?.touched">
                                Please choose a Last name.
                              </div>
                        </div>
                        <div class="item-form">
                            <input type="email" placeholder="Email" formControlName="email" />
                            <div id="inputMailFeedback" class="invalid-feedback" *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched">
                                Please choose a Email.
                              </div>
                        </div>
                        <div class="item-form">
                            <input type="password" placeholder="Password" formControlName="password" minlength="8" />
                            <div *ngIf="signupForm.get('password')?.errors?.['minlength']">
                                Password must be at least 8 characters
                              </div>
                              <div id="inputpasssFeedback" class="invalid-feedback" *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched">
                                Please choose a Password.
                              </div>
                        </div>
                        <div class="item-form">
                            <input type="password" placeholder="Confirm Password" formControlName="passwordConfirm" minlength="8" />
                              <div class="invalid-feedback" *ngIf="!signupForm.get('passwordConfirm')?.valid && signupForm.get('passwordConfirm')?.touched">
                                Please choose a Password.
                              </div>
                        </div>
                        <div class="item-form">
                            <label class="col-form-label" for="inputFile">Upload a national card </label>
                            <input class="form-control" id="inputFile" type="file" placeholder="National Card" formControlName="nationalCard" />
                        </div>
                        <div class="item-form">
                            <fieldset class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                                <div class="col-sm-10">
                                  <div class="form-check" *ngFor="let gender of genders">
                                    <input class="form-check-input" type="radio" [id]="gender" [value]="gender" formControlName="gender" *ngIf="gender as 'checked'">
                                    <label class="form-check-label" [for]="gender">
                                        {{ gender }}
                                    </label>
                                  </div>
                                </div>
                              </fieldset>
                        </div>
                        <div class="item-form">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName="terms">
                                <label class="form-check-label" for="gridCheck1">
                                  Agree to terms and conditions
                                </label>
                              </div>
                              <div class="invalid-feedback" *ngIf="!signupForm.get('terms')?.valid && signupForm.get('terms')?.touched">
                                Please read the rules and approve 
                              </div>
                        </div>
                        <div class="item-form">
                            <button class="btn-login-register btn btn-primary" type="submit">Create an account</button>
                        </div>
                    </form>
                </div>
              </div>
          </div>
      </div>
  </div>
</main>
<div class="devider-50 hidden-xs"></div>