.invalid-feedback {
	display: block;
}
.content-register-form {
	display: flex;
	justify-content: space-around;
	position: relative;
	padding: 50px 20px;
	border: 1px solid rgba(48,146,85,0.2);
	border-radius: 10px;
	margin-top: 50px;
	.register-image {
		position: relative;
		background-color: #e7f8ee;
		border-radius: 10px;
		padding: 40px 20px;
		z-index: 1;
		.shape-register {
			background-color: #309255;
			width: 300px;
			height: 300px;
			border-radius: 100%;
			text-align: left;
			position: absolute;
			left: 80px;
			top: 40px;
			z-index: -1;
			img {
				position: absolute;
				left: 50px;
				top: 50px;
			}
		}
	}
}
.body-form-register {
	padding: 10px;
	.item-form {
		padding: 5px 0;
		input {
			&:not([type="checkbox"]):not([type="radio"]) {
				padding: 10px;
				padding-left: 20px;
				font-size: 15px;
				color: #aaa;
				border: 1px solid rgba(48,146,85,0.2);
				border-radius: 10px;
				line-height: 2.5;
				width: 100%;
				background-color: #fff;
				outline: none;
			}
		}
	}
	.title-page {
		margin-bottom: 30px;
	}
}
.btn-login-register {
	&.btn {
		width: 100%;
		line-height: 3.5;
		color: #fff;
		margin: 20px 0;
		&::before {
			width: 600px;
			height: 600px;
		}
	}
	&:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
}

@media only screen and (max-width: 768px){
    .invalid-feedback {
        display: block;
    }
    .content-register-form {
        display: flex;
        justify-content: space-around;
        position: relative;
        padding: 20px;
        border: none;
        border-radius: 10px;
        margin-top: 0;
        .register-image {
            position: relative;
            background-color: #e7f8ee;
            border-radius: 10px;
            padding: 40px 20px;
            z-index: 1;
            .shape-register {
                background-color: #309255;
                width: 300px;
                height: 300px;
                border-radius: 100%;
                text-align: left;
                position: absolute;
                left: 80px;
                top: 40px;
                z-index: -1;
                img {
                    position: absolute;
                    left: 50px;
                    top: 50px;
                }
            }
        }
    }
    .body-form-register {
        padding: 10px;
        .item-form {
            padding: 5px 0;
            input {
                &:not([type="checkbox"]):not([type="radio"]) {
                    padding: 10px;
                    padding-left: 20px;
                    font-size: 15px;
                    color: #aaa;
                    border: 1px solid rgba(48,146,85,0.2);
                    border-radius: 10px;
                    line-height: 2.5;
                    width: 100%;
                    background-color: #fff;
                    outline: none;
                }
            }
        }
        .title-page {
            margin-bottom: 30px;
        }
    }
    .btn-login-register {
        &.btn {
            width: 100%;
            line-height: 3.5;
            color: #fff;
            margin: 20px 0;
            &::before {
                width: 600px;
                height: 600px;
            }
        }
        &:hover {
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
        }
    }
    
}
@media only screen and (min-width: 1920px){
    .content-register-form{
        justify-content: space-around;
    }
}